
.header-navbar{
    background-color: rgb(0, 126, 189);
    display: flex;
    justify-content: right;
    height: 5vh;
}
.nav-navbar{
    display: flex;
    align-items: center;
}
.ul-navbar{
    margin: 0;
}
.navbar{
    list-style: none;
    display: inline;
    margin-right: 10px;
}
.navbar a{
    font-family:  Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
}
